body {
    text-align: center;
    background-color: #BA0B14;
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    background-color: #FECD56;
    border: solid 2px white;
    padding-top: 5px;
}

li {
    list-style: none;
    padding: 5px;
}

h1 {
    font-weight: bolder;
}

h2 {
    text-decoration: underline;
}